.contactFormMainContainer {
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactFormSecondContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0rem 1rem 0rem;
  max-width: 1100px;
  width: 100%;
  min-height: 600px;
}
.contactFormInfoContainer {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  width: 100%;
  min-height: 820px;
  height: 100%;
  padding: 2rem;
  order: 1;
}

.contactContainer {
  max-width: 800px;
  width: 100%;
  min-height: 510px;
  height: 100%;
  margin: 2rem;
  order: 2;
}

.contactFormSecondTitle {
  color: #000;
  margin-bottom: 3rem;
}

.contactTitle {
  color: #000;
  font-size: 1.3rem;
  padding-top: 3.3rem;
  padding-bottom: 1rem;
}

.contactColumn > div {
  padding-bottom: 2.6rem;
}

.contactColumn > div > input {
  color: #000;
}

.contactColumn textarea {
  color: #000;
}

form input[type="submit"] {
  background: none;
  border: 1px solid black;
  text-decoration: underline;
  cursor: pointer;
  color: #fff;
}

form input:focus,
textarea:focus {
  outline: none !important;
}

.contactFormRows {
  max-width: 650px;
  width: 100%;
  border-bottom: 0.5px solid rgb(162, 162, 162);
  margin-bottom: 2rem;
}

.contactFormRows h1 {
  color: #000;
  font-size: 1.3rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.contactFormRows input {
  border: 0px;
  font-size: 0.8rem;
}

.contactTextarea {
  max-width: 650px;
  width: 100%;
  border-bottom: 0.5px solid rgb(162, 162, 162);
  margin-bottom: 3rem;
}

.contactTextarea p {
  text-transform: uppercase;
}

textarea,
input {
  background-color: transparent !important;
  color: #000;
  font-size: 0.8rem;
}

.contactTextarea textarea {
  width: 100%;
  height: 120px;
  border: 0px;
}

.contactBtn {
  width: 150px;
  height: 50px;
  background-color: #9bbada !important;
  border: #9bbada !important;
  text-decoration: none !important;
  transition: 0.4s;
  font-size: 0.9rem;
}

.contactBtn:hover {
  background-color: #141a2f !important;
  border: #141a2f !important;
}

.contactIcon svg path {
  color: #9bbada;
}

.contactIcon p {
  color: #000;
  margin: 0rem 0rem 0rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactIcon {
  display: flex;
  margin-bottom: 3rem;
  align-items: center;
  width: 100%;
  min-height: 50px;
}

.contactIconBorder {
  max-width: 50px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #9bbada;
  border-radius: 50px;
  font-size: 1.5rem;
}

.successMsg {
  color: #28a745;
  font-size: 1rem;
}

.successMsg svg path {
  color: #28a745;
}

.errMsg {
  color: red;
  font-size: 1rem;
}

@media screen and (max-width: 650px) {
  .contactFormSecondContainer {
    margin: 1rem 0rem 0rem 0rem;
    flex-wrap: wrap;
  }
  .contactFormInfoContainer {
    max-width: 100%;
    order: 2;
    min-height: 700px;
  }
  .contactContainer {
    order: 1;
    margin: 1rem 1rem 1rem 1rem;
  }
  .contactFormInfoContainer {
    padding: 1rem;
  }
  .contactBtn {
    max-width: 150px;
    min-height: 50px;
    width: 100%;
  }
}

@media screen and (max-width: 300px) {
  .contactIcon {
    flex-direction: column;
    text-align: center;
  }
  .contactIcon p {
    margin: 0rem;
  }
}

@media screen and (max-width: 200px) {
  .contactFormSecondContainer {
    margin: 1rem 0rem 1rem 1rem !important;
  }
}
